CLOUDFLARE_TUNNEL_TOKEN=changeme

DB_DATABASE=directus
DB_USER=directus
DB_PASSWORD=changeme

DIRECTUS_SECRET=changeme_long_random_string

ADMIN_EMAIL=admin@tilea.net
ADMIN_PASSWORD=changeme

KEYCLOAK_CLIENT_ID=directus
KEYCLOAK_CLIENT_SECRET=changeme

BREVO_SMTP_USER=aea30e001@smtp-brevo.com
BREVO_SMTP_PASSWORD=changeme
